.MuiGrid-item{
    padding: 10px;
}
.title-h6 {
    font-weight: 700;
    color: #4c79a1;
    padding: 0px;
    margin: 0px;
  }
.MuiDialogTitle-root{
    padding: 0px 24px 16px !important;
}
.MuiTypography-h6 {
    font-weight: 300 !important;
}
.blue-button{
    background-color: #4c79a1 !important;
}
.blue-button .MuiButton-label{
    color: white !important;
}
/*-------loginPage-------*/
.owb-logo{
    width: 100%;
    height: auto;
}
.MuiPaper-root{
    background-color: #f5f4f2  !important;
}
.mt-0{
    margin-top: 0px;
}
.MuiFormControl-marginDense {
    margin-top: 0px !important;
}
.form-feild{
    margin-top: 8px !important;
    margin-bottom: 4px;
}
.form-feild .MuiOutlinedInput-input {
    padding: 18.5px 14px !important;
  }
.PasswordField-root-11 {
    border-radius: 4px;
    border: 1px solid #0000003b;
}
.PasswordField-input-12 {
    padding: 18.5px 14px !important;
    border-color: #0000003b;
}